* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

p {
    color: #727477;
}


.container {
    width: 100%;
}


.navbar {
    z-index: 1;
    position: fixed;
    width: 100%;
    background: #0e0d0d;
    padding: 0;
    margin: 0;
}

nav {
    width: 95%;
    margin: auto;
    /* max-width: 1200px; */
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 152px;
    height: 18px;
}

nav button {
    background: #6f9a37;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}

header {
    width: 100%;
    background: linear-gradient(130deg, #4f46e5, #7e22ce);
    padding-top: 50px;
}

.header-content {
    width: 95%;
    /* max-width: 1200px; */
    height: 659px;
    margin: auto;
}



.elstar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

header ul {
    color: #d3d1d1;
    display: flex;
    list-style: none;
    gap: 50px;
    font-weight: 500;
    font-size: 18px;
}

.contents {
    padding-top: 86px;
    display: flex;
}

.contents img {
    width: 700px;
    height: 490px;
}

header svg {
    height: 25px;
}

.content {
    width: 100%;
    color: white;
}

.content h1 {
    font-size: 60px;
    line-height: 1.1;
    font-weight: bold;
}

.content p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.9);
}

.buttons {
    padding-top: 35px;
    border: none;
    display: flex;
    gap: 20px;
}

.buttons button {
    color: white;
    font-weight: 500;
    font-size: 17px;
    border-radius: 8px;
}

.dark {
    padding: 13px 30px;
    border: none;
    background: #000;
}

.light {
    padding: 13px 35px;
    background: transparent;
    border: 1px solid white;
}

.features {
    width: 95%;
    margin: auto;
    /* max-width: 1200px; */
    overflow: hidden;
    padding-top: 80px;
    text-align: center;
}


.features h2 {
    font-size: 38px;
    margin-bottom: 15px;
    color: #111827;
}

.subtitle {
    max-width: 650px;
    margin: auto;
    color: #6b7280;
    line-height: 1.7;
    margin-bottom: 50px;
}


.feature-grid {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 20px;
    /* overflow: hidden; */
}

.card {
    min-width: 310px;
    height: 260px;
    background: #f4f5f7;
    padding: 25px;
    border-radius: 12px;
    text-align: left;
    transition: .3s;
}

.card img {
    height: 62px;
}

.icon {
    width: 70px;
    height: 70px;
    background: #eaf1f7;
    border: 4px solid #ffffff;
    box-shadow: 0px 0px 5px rgb(170, 170, 170);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.card h3 {
    margin-bottom: 12px;
    font-size: 20px;
    color: #111827;
}

.card p {
    color: #727477;
    line-height: 1.3;
    font-size: 17px;
}

.more-btn {
    margin-top: 70px;
    padding: 12px 32px;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid #d1d5db;
    background: white;
    color: #585858;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.more-btn:hover {
    background: #7c3aed;
    color: white;
    border-color: #7c3aed;
}

.layout-section {
    width: 100%;
    height: auto;
    background: #f3f3f3;
    margin-top: 150px;
}

.ready {
    width: 95%;
    margin: auto;
    /* max-width: 1200px; */
    padding-top: 150px;
    font-size: 25px;
}

.ready h1 {}

.ready p {
    font-size: 22px;
    color: #727477;
    padding-top: 20px;
    line-height: 1.5;
}

.lr-box {
    width: 95%;
    margin: auto;
    /* max-width: 1200px; */
    display: flex;
    gap: 15px;
    padding: 100px 0px 140px 0px;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left h3 {
    font-size: 25px;
}

.left p {
    padding: 8px 0 20px 0;
    color: #727477;
    font-size: 20px;
    border-bottom: 1px solid #e7e6e6;
}

.right {
    width: 50%;
    padding-top: 10px;
}

.right img {
    width: 100%;
    height: 600px;
    box-shadow: 0 1px 10px rgb(172, 171, 171);
}

.project {
    width: 95%;
    margin: auto;
    /* max-width: 1200px; */
    text-align: center;
    padding-top: 150px;
}

.project p {
    font-size: 19px;
    padding-top: 10px;
}

.project-boxs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 60px 0px;
}

.project-border {
    width: 420px;
    border: 1px solid #d3d2d2;
    border-radius: 8px;
}

.project-border:hover {
    transition: .2s;
    box-shadow: 0 10px 20px #ebeaea;
}

.project-box {
    height: 190px;
    border: 40px solid #f3f6f8;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
}

.project-box img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.line {
    border: 20px solid white;
    border-radius: 0px 0px 8px 8px;
    font-weight: 700;
    font-size: 18px;
}

.add {
    font-size: 18px;
    font-weight: 700;
    padding: 90px;
    background: #f3f6f8;
}


.prebuilt {
    width: 100%;
    background: #f3f3f3;
    margin: 160px 0 100px 0;
    padding: 120px 0;
    text-align: center;
}

.prebuilt p {
    font-size: 18px;
    padding: 15px 0 40px 0;
    line-height: 1.5;
}

.prebuilt-boxs {
    width: 95%;
    margin: auto;
    /* max-width: 1200px; */
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.prebuilt-box {
    height: 68px;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 8px;
}

.prebuilt-box svg {
    height: 30px;
}


.prebuilt button {
    margin-top: 60px;
    padding: 13px 35px;
    background: white;
    color: #555454;
    border: 1px solid #cac9c9;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
}

footer {
    width: 95%;
    margin: auto;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.footer1 p {
    padding-top: 10px;
    line-height: 1.5;
    font-size: 19px;
    font-weight: 500;
}

.footer-buttons button {
    padding: 13px 30px;
    /* background: transparent; */
    border: 1px solid #d3d0d0;
    font-weight: 500;
    font-size: 17px;
    border-radius: 5px;
}

.footer-button1 {
    background: transparent;
    color: #696969;
}

.footer-button2 {
    background: #4f46e5;
    color: white;
    margin-left: 10px;
}

.footer2 {
    border-top: 1px solid #dbdbdb;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width : 1440px) {

    .contents img {
        display: none;
    }

    .content {
        width: 100%;
    }

    .feature-grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .ready {
        font-size: 20px;
    }
    .ready p{
        font-size: 18px;
    }

    .left h3{
        font-size: 20px;
    }
    .left p{
        font-size: 15px;
    }

    .right img{
        height: 400px;
    }

    .project-boxs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin: 60px 0px;
    }

    .project-border {
        /* width: 304px; */
        width: 100%;
    }

    .project-box {
        min-height: 130px;
    }

    .line {
        padding: 10px;
        border: 20px solid white;
        border-radius: 0px 0px 8px 8px;
        font-weight: 700;
        font-size: 18px;
    }

    .add {
        padding: 70px;
    }


    .prebuilt-boxs {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .prebuilt p{
        font-size: 15px;
    }

    footer {
        width: 95%;
    }

    .footer1 p{
        font-size: 15px;
    }
}

@media (max-width : 480px) {
    .elstar img{
        height: 50px;
    }
    .elstar ul{
       display: none;
    }

    .contents{
        padding-top: 80px;
    }

    .content h1{
        font-size: 40px;
    }
    .content p{
        font-size: 16px;
    }

    .buttons{
        flex-direction: column;
    }

    .buttons button{
        font-size: 14px;
        padding: 15px;
    }

    .features h2{
        font-size: 30px;
    }
    .features p{
        font-size: 14px;
    }

    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }

    .ready{
        font-size: 16px;
    }
    .ready P{
        font-size: 14px;
    }

    .lr-box{
        flex-direction: column;
    }

    .left{
        width: 100%;
    }

    .right{
        width: 100%;
    }

    .right img{
        height: 250px;
    }

    .project h1{
        font-size: 30px;
    }
    .project p{
        font-size: 14px;
    }

    .project-boxs{
        grid-template-columns: repeat(1,1fr);
    }

    .prebuilt h1{
        font-size: 30px;
    }

    .prebuilt p{
        font-size: 12px;
    }

    .prebuilt-boxs{
        grid-template-columns: repeat(1,1fr);
    }

    .footer1{
        flex-direction: column;
        gap: 30px;
    }

    .footer1 p{
        font-size: 14px;
    }

    .footer-buttons{
        width: 100%;
        display: flex;
    }

    .footer2{
        gap: 30px;
    }

    .footer2 img{
        height: 50px;
    }

    .footer2 p{
        font-size: 12px;
    }
}